* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  /* border: 1px solid red; */
  gap: 2rem;
}

.score-board {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: auto;
  margin: 0 auto;
  /* border: 1px solid rgb(47, 0, 255); */
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container .score {
  font-size: 1.5rem;
  font-weight: bold;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  /* border: 1px solid rgb(255, 132, 0); */
}

.result-container .choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}

.player-result,
.computer-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5%;
  min-width: 100px;
  height: auto;
}

.selected-choice {
  font-size: 5rem;
}

.result {
  padding: 50px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button,
.reset-button {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5%;
  font-size: 2rem;
  padding: 1rem;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}
